CompileFlags:
  Compiler: clang
  Add: [-xc, -std=c23, -Wall, -Wextra, -Wpedantic]

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add:
      [
        bugprone-*,
        cert-*,
        clang-analyzer-*,
        concurrency-*,
        linuxkernel-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
      ]
    Remove:
      [
        bugprone-assignment-in-if-condition,
        bugprone-easily-swappable-parameters,
        bugprone-inc-dec-in-conditions,
        bugprone-multi-level-implicit-pointer-conversion,
        bugprone-multiple-statement-macro,
        bugprone-narrowing-conversions,
        bugprone-reserved-identifier,
        bugprone-signal-handler,
        bugprone-suspicious-include,
        bugprone-suspicious-missing-comma,
        cert-dcl37-c,
        cert-dcl51-cpp,
        cert-env33-c,
        cert-exp42-c,
        cert-int09-c,
        cert-msc54-cpp,
        cert-sig30-c,
        concurrency-mt-unsafe,
        misc-confusable-identifiers,
        misc-no-recursion,
        modernize-use-nullptr,
        performance-no-int-to-ptr,
        readability-avoid-nested-conditional-operator,
        readability-braces-around-statements,
        readability-enum-initial-value,
        readability-function-cognitive-complexity,
        readability-function-size,
        readability-identifier-length,
        readability-implicit-bool-conversion,
        readability-isolate-declaration,
        readability-magic-numbers,
        readability-math-missing-parentheses,
        readability-non-const-parameter,
        readability-redundant-control-flow,
        readability-suspicious-call-argument,
      ]
